@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%; }

.myButton, nav #navContainer #navbarNavAltMarkup #navbar a .myButton--rounded, body main form fieldset #formButtons .myButton--rounded, #error-body .myButton--rounded {
  background-color: rgba(38, 89, 1, 0.5);
  margin: 1rem;
  padding: 1rem; }

@keyframes twist {
  0% {
    transform: rotate(45deg); }
  25% {
    transform: rotate(-45deg); }
  50% {
    transform: rotate(45deg); }
  75% {
    transform: rotate(-45deg); }
  100% {
    transform: rotate(45deg); } }

@keyframes beat {
  to {
    transform: scale(0.9); } }

@keyframes drone-404 {
  0% {
    transform: translate(0px, 50px); }
  10% {
    transform: translate(100px, -10px); }
  20% {
    transform: translate(100px, 50px); }
  40% {
    transform: translate(100px); }
  50% {
    transform: rotate(180deg); }
  60% {
    transform: rotate(0deg); }
  100% {
    transform: translateY(40px); } }

header div a img {
  width: 200px;
  animation: beat 0.9s infinite alternate;
  transform-origin: center; }

header div a h1 {
  font-size: 4rem;
  color: rgba(38, 89, 1, 0.75);
  font-weight: bold; }

nav {
  background-color: rgba(38, 89, 1, 0.25); }
  nav #navContainer #navbarNavAltMarkup #navbar a {
    text-decoration: none; }
    nav #navContainer #navbarNavAltMarkup #navbar a .myButton--rounded {
      border-radius: 1rem; }
      nav #navContainer #navbarNavAltMarkup #navbar a .myButton--rounded:hover {
        background-color: #005299;
        cursor: pointer;
        transform: scale(105%);
        transition: transform 0.7s; }
      nav #navContainer #navbarNavAltMarkup #navbar a .myButton--rounded p {
        font-size: 2rem;
        color: white;
        font-weight: bold;
        text-decoration: none;
        text-align: center; }
        nav #navContainer #navbarNavAltMarkup #navbar a .myButton--rounded p:hover {
          color: white; }

body {
  background: radial-gradient(rgba(0, 82, 153, 0.5), white); }
  body main #carousel #carouselWithCaptions #carousel-inner .carousel-item .carousel-caption {
    background-color: rgba(38, 89, 1, 0.25);
    border-radius: 1rem; }
  body main #stats .row article .card {
    background-color: rgba(38, 89, 1, 0.25);
    border-radius: 1rem; }
  body main #stats .row article .card:hover {
    box-shadow: 0 0 15px rgba(33, 33, 33, 0.2); }
  body main #who-what-how .row article .card {
    background-color: rgba(38, 89, 1, 0.1); }
    body main #who-what-how .row article .card .card-body {
      border-left: rgba(38, 89, 1, 0.5) solid 10px; }
  body main #who-what-how .row article .card:hover {
    box-shadow: 0 0 15px rgba(33, 33, 33, 0.2); }
  body main .title {
    background-color: rgba(38, 89, 1, 0.5);
    color: white;
    padding: 2rem; }
  body main .myContainer {
    background-color: rgba(38, 89, 1, 0.25); }
  body main form fieldset #formButtons .myButton--rounded {
    border-radius: 1rem;
    color: white; }

footer #separator {
  background-color: rgba(38, 89, 1, 0.5);
  color: white;
  padding: 1rem 0 1rem 0; }

footer #social-networks div a img {
  animation-name: twist;
  animation-duration: 8s;
  animation-iteration-count: infinite; }

footer #credits article a {
  color: black;
  text-decoration: none; }

@media only screen and (max-width: 768px) {
  #iframe1,
  #iframe2 {
    height: 400px; } }

#error-body .row .col img {
  animation: drone-404 15s infinite ease-in-out; }

#error-body .myButton--rounded {
  border-radius: 1rem;
  color: white; }
  #error-body .myButton--rounded:hover {
    background-color: #005299;
    cursor: pointer;
    transform: scale(105%);
    transition: transform 0.7s; }

#error-body #cred-drone-logo {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  color: white;
  font-weight: bold; }
