@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap');

/*Transformation 1 rem = 10 px*/

html {
    font-size: 62.5%;
}


/*General settings*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}


/*Body*/

body {
    background: radial-gradient(rgba(0, 82, 153, 0.5), rgb(255, 255, 255));
}

.mainContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "header" "nav" "main" "footer";
}


/*Header*/

header {
    grid-area: header;
}

header .logoLink {
    display: block;
    margin: 1rem auto;
    font-size: 2rem;
    color: white;
    text-align: center;
}

header .logoLink img {
    width: 200px;
}

header .logoLink img:hover {
    transform: rotate(360deg);
    transition: transform 2.5s;
}



header .logoText {
    font-size: 3rem;
    color: rgba(38, 89, 1, 0.75);
    text-decoration: none;
    text-align: center;
}


/*Navigation bar*/

nav {
    position: relative;
    grid-area: nav;
    background-color: rgba(38, 89, 1, 0.25);
}

.navList {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "home" "services" "experiences" "team" "contact";
    text-align: center;
    list-style-type: none;
}

.listItem {
    margin: 1rem;
    padding: 0.5rem;
}

#home {
    grid-area: home;
}

#services {
    grid-area: services;
}

#experiences {
    grid-area: experiences;
}

#team {
    grid-area: team;
}

#contact {
    grid-area: contact;
}

.navList .listItem {
    padding: 2rem;
    margin: 2rem 0.5rem;
    border-radius: 1rem;
    background-color: rgba(38, 89, 1, 0.5);
}

.navList .link {
    font-size: 2rem;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.navList .listItem:hover {
    background-color: rgb(0, 82, 153);
    cursor: pointer;
    transform: scale(105%);
    transition: transform 0.7s;
}

.navList .link:hover {
    cursor: pointer;
}


/*Main*/


/*For index.html*/


/*Gallery*/

main {
    grid-area: main;
}

.gallery {
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
}

.gallery img {
    width: 100%;
    height: auto;
}

.galleryText #sub0,
#sub1,
#sub2,
#sub3 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #d9d9d9;
}

#sub0 {
    top: 12.5%;
    font-size: 1.8rem;
}

#sub1 {
    top: 55%;
    font-size: 1.2rem;
}

#sub2 {
    top: 65%;
    font-size: 1.2rem;
}

#sub3 {
    top: 75%;
    font-size: 1.2rem;
}


/*Stats*/

.stats {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
}

.statBox {
    background-color: rgba(38, 89, 1, 0.25);
    width: 40%;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    font-size: 2rem;
    color: rgba(38, 38, 38, 1);
    text-align: center;
}


/*Description*/

.container {
    display: flex;
    margin: 3rem 3rem;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    background-color: rgba(38, 89, 1, 0.25);
}

.leftBorder {
    border-left: solid rgba(38, 89, 1, 0.25) 2rem;
}

.text {
    padding: 2rem;
    width: 100%;
}

.fs4 {
    font-size: 4rem;
}

.fs2 {
    font-size: 2rem;
    line-height: 1.5;
    margin-top: 2rem;
}

.video {
    width: 90%;
    height: 400px;
    padding-bottom: 2rem;
}

.iframe {
    width: 100%;
    height: 100%;
}

.image {
    width: 90%;
    padding: 1rem 1rem;
}

.image img {
    padding-bottom: 1.5rem;
    max-width: 100%;
}


/*For servicios.html*/

.title {
    background-color: rgba(38, 89, 1, 0.5);
    text-align: center;
    width: auto;
    font-size: 2rem;
    color: white;
    padding: 2rem;
}

.services {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "aerial" "control" "topo" "inventory" "sig" "satellite";
}

.containerService {
    margin: 2rem 2rem;
    padding: 1rem;
    background-color: rgba(38, 89, 1, 0.25);
    border-radius: 5rem;
    box-shadow: 0.5rem 0.5rem rgba(38, 89, 1, 0.5);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 35% 50%;
    grid-template-areas: "service-title" "service-logo" "service-text";
    justify-items: center;
    align-items: center;
}

.serviceTitle {
    text-align: center;
    grid-area: service-title;
}

.serviceTitle h2 {
    font-size: 4rem;
    padding: 3rem;
}

.serviceText {
    grid-area: service-text;
    padding: 2rem 5rem;
}

.serviceText p {
    font-size: 2.5rem;
    text-align: center;
    line-height: 4rem;
}

.serviceText ul li {
    font-size: 2.5rem;
    text-align: left;
    line-height: 3rem;
    list-style-position: inside;
}

.logo {
    grid-area: service-logo;
    width: 100%;
    text-align: center;
    padding: 3rem;
}

.logo img {
    width: 80%;
    height: auto;
}

#aerial {
    grid-area: aerial;
}

#control {
    grid-area: control;
}

#topo {
    grid-area: topo;
}

#inventory {
    grid-area: inventory;
}

#sig {
    grid-area: sig;
}

#satellite {
    grid-area: satellite;
}


/*For experiencias.html*/

.text ul li {
    list-style-position: inside;
}


/*For equipo.html*/

.textTop {
    align-items: flex-start;
    justify-content: center;
}

.teamPhoto {
    align-items: center;
}


/*For contacto.html*/

.contact {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 9fr 2fr;
    grid-template-areas: "contact-form" "map";
}

#contact-form {
    grid-area: contact-form;
}

#map {
    grid-area: map;
}

.contactBox {
    background-color: rgba(38, 89, 1, 0.25);
    width: auto;
    padding: 1rem;
    margin: 1rem;
    border: solid rgba(38, 89, 1, 0.25) 0.5rem;
    border-radius: 2rem;
    font-size: 1.4rem;
    color: rgba(38, 38, 38, 1);
    text-align: left;
}

.legend {
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}

.label {
    line-height: 4rem;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.mapFrame {
    width: 100%;
    height: 100%;
    padding: 1rem;
}

#message {
    width: 100%;
    height: 7rem;
}

#submit,
#reset {
    width: 10rem;
    height: 5rem;
}

.contactBox input[type="text"],
input[type="email"] {
    width: 100%;
    height: 3rem;
}

.contactBox textarea[name="otro-especificar"] {
    width: 100%;
    height: 4rem;
}

.contactBox select[name="provincia"] {
    width: 100%;
    height: 3rem;
}


/*Footer*/

footer {
    grid-area: footer;
}

.shareContainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.shareContainer .link {
    text-decoration: none;
    color: black;
    font-size: 2rem;
}

.shareContainer .link img {
    width: 8rem;
}

.shareContainer .link img:hover {
    transform: rotate(360deg);
    transition: transform 1.5s;
}

.shareContainer .link p {
    text-align: center;
}


/*Media Queries*/


/*For index.html*/


/*Breakpoint Mobile-Tablet*/

@media only screen and (min-width: 768px) {
    nav {
        position: sticky;
        top: 0;
        z-index: 100;
    }
    .navList {
        display: flex;
        justify-content: center;
    }
    .stats {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
        font-size: 3rem;
    }
    .statBox {
        min-height: 100%;
    }
    #sub0 {
        font-size: 3.5rem;
    }
    #sub1 {
        font-size: 3rem;
    }
    #sub2 {
        font-size: 3rem;
    }
    #sub3 {
        font-size: 3rem;
    }
    .serviceText {
        grid-area: service-text;
        padding: 2rem;
    }
    .serviceTitle h2 {
        font-size: 2.5rem;
        padding: 1.5rem;
    }
    .serviceText p {
        font-size: 1.5rem;
        text-align: center;
        line-height: 2.5rem;
    }
    .serviceText ul li {
        font-size: 1.5rem;
        text-align: left;
        line-height: 3rem;
        list-style-position: inside;
    }
    .logo {
        grid-area: service-logo;
        width: 100%;
        text-align: center;
    }
    .logo img {
        width: 100%;
        height: auto;
    }
}


/*Breakpoint Tablet-Desktop*/

@media only screen and (min-width: 1024px) {
    .stats {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: center;
        height: auto;
        padding: 1rem;
        font-size: 3rem;
    }
    .statBox {
        height: 100%;
    }
    .container {
        flex-direction: row;
    }
    #sub0 {
        font-size: 5rem;
    }
    #sub1 {
        font-size: 4rem;
    }
    #sub2 {
        font-size: 4rem;
    }
    #sub3 {
        font-size: 4rem;
    }
}


/*For servicios.html*/


/*Breakpoint Mobile-Tablet*/

@media only screen and (min-width: 768px) {
    .services {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: "aerial control" "topo inventory" "sig satellite";
    }
}


/*Breakpoint Tablet-Desktop*/

@media only screen and (min-width: 1024px) {
    .services {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "aerial control topo" "inventory sig satellite";
    }
}


/*For contacto.html*/


/*Breakpoint Mobile-Tablet*/

@media only screen and (min-width: 768px) {
    .contact {
        grid-template-rows: 880px 400px;
    }
    #contact-text {
        grid-area: contact-text;
        font-size: 1.25rem;
    }
    #personal-data {
        grid-area: personal-data;
        font-size: 1.25rem;
    }
    #interest-area {
        grid-area: interest-area;
        font-size: 1.5rem;
    }
    #client-type {
        grid-area: client-type;
        font-size: 1.25rem;
    }
    #location {
        grid-area: location;
        font-size: 1.25rem;
    }
    #text-message {
        grid-area: text-message;
        font-size: 1.25rem;
    }
    #contact-form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 80px 300px 120px 380px;
        grid-template-areas: "contact-text contact-text" "personal-data interest-area" "location interest-area" "client-type text-message"
    }
    #message {
        height: 70%;
    }
}


/*Breakpoint Tablet-Desktop*/

@media only screen and (min-width: 1024px) {
    .contact {
        grid-template-rows: 880px 400px;
    }
    #contact-form {
        display: grid;
        grid-template-columns: 30% 35% 35%;
        grid-template-rows: 80px 300px 120px 380px;
        grid-template-areas: "contact-text contact-text contact-text" "personal-data interest-area client-type" "location interest-area client-type" "text-message text-message text-message"
    }
    #message {
        height: 70%;
    }
}
