footer {
    #social-networks {
        div {
            a {
                img {
                    animation-name: twist;
                    animation-duration: 8s;
                    animation-iteration-count: infinite;
                }
            }
        }
    }
}